.containerLayout--home__brands-slider--container,
.containerLayout--home__slogan-slider--container {
  background-color: var(--main-color);
  height: 77px;
}


/*Categories bullets*/

.containerLayout--home__categories-bullets--desktop {
  margin: 3rem auto 1rem auto !important;
}

@media (max-width: 1025px) {
  .containerLayout--home__categories-bullets--desktop {
    display: none;
  }
}

@media (min-width: 1025px) {
  .containerLayout--home__categories-bullets {
    display: none;
  }
}


.highlightContent--search-page__bullets {
  margin: 0;
  scrollbar-width: none;
}

.highlightContent--search-page__bullets::-webkit-scrollbar {
  height: 6px;
}

.highlightContent--search-page__bullets::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}


@media (max-width: 600px) {
  .highlightContent--search-page__bullets::-webkit-scrollbar {
    display: none;
  }

}

.highlightContent--home__categories-bullets {
  padding: .8rem .5rem .8rem 0.5rem !important;

}

.highlightContent--home-page__bullets {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0rem 2rem 0rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.highlightContent--home__categories-bullets--desktop {
  display: flex;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  margin-inline: 1rem;
}

.highlightContent--home__categories-bullets--desktop::-webkit-scrollbar {
  height: 8px;
  cursor: pointer !important;
  position: relative;
  z-index: 3;
}

.highlightContent--home__categories-bullets--desktop::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  cursor: pointer !important;
  position: relative;
  z-index: 3;

}


.cardLayout--home__categories-bullets--desktop {
  border-radius: 18px;
  padding: 0rem;
  overflow: hidden;
  height: 100px;
  min-width: 300px;
  padding-block: 1rem;
}

.cardLayout__content--home__categories-bullets--desktop {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  padding-inline: 1rem;
  height: 67px;
  padding-inline: 1rem;
}

.cardLayout__image--home__categories-bullets--desktop {
  position: relative;
  bottom: -22px;
  left: 14px;
}

.cardLayout__image--home__categories-bullets--desktop:hover {
  transform: rotate(10deg);

}

.paragraph--home__categories-bullets--desktop {
  font-size: 1.3rem;
  font-family: var(--font-poppins-bold);
  line-height: 1;
}



/*Oferts*/
.containerLayout--offers__images--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

@media all and (max-width: 1025px) {
  .containerLayout--offers__images--container {
    display: flex;
    flex-direction: column;
  }
}

.containerLayout--offers__images--col-2 {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.containerLayout--offers__images--container-col-2-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;

}

.containerLayout--drop-down-container {
  background-color: var(--main-color);
  padding: 1.5rem;
  padding-inline: 5rem;
  padding-bottom: 3rem;
  position: relative;
}

.dropDown__container {
  overflow: hidden;

}


@media all and (max-width:765px) {
  .containerLayout--drop-down-container {
    padding-inline: 2rem;
  }
}

.dropDown__title,
.dropDown__content,
.dropDown__button {
  color: var(--white);
}

.dropDown__title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.dropDown__content {
  font-size: 0.8125rem;
}

.dropDown__button {
  font-family: var(--font-poppins-semibold);
  margin: .5rem auto;
  width: 125px;
  cursor: pointer;
  bottom: -35px;
  position: relative;
}



.highlightContent--value-proposition__highlight {
  display: flex;
  justify-content: center;
  margin-block: 3rem;
  gap: 3rem;
  overflow-x: auto;
  padding-inline: 1rem;
  scrollbar-width: none;
}

@media (max-width: 1025px) {
  .highlightContent--value-proposition__highlight {
    justify-content: flex-start;
  }
}

.highlightContent--value-proposition__highlight::-webkit-scrollbar {
  display: none;
}

.cardLayout__content--value-proposition__highlight {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
}

.cardLayout__image--value-proposition__highlight {
  width: 90px;
  height: 90px;
}

.container--value-proposition__highlight {
  max-width: 120px;
  text-align: center;
}

.highlightContent--brands-slider {
  display: flex;
  width: 100%;
}

.containerLayout--home__brands-slider--container {
  display: flex;
  align-items: center;
  padding-inline: .5rem;
}

.sliderArrows--brands-slider {
  background: var(--white) !important;
  border-radius: 50%;
  padding: .4rem;
}

.caretIcon--brands-slider {
  width: 20px;
  height: 20px;
}

/*Rutina*/
.containerLayout--showcases__bottom-container {
  background-color: #EAE7F4;
  padding-top: 5rem;
  margin-bottom: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  position: relative;
  overscroll-behavior-x: auto;
}

.containerLayout--showcases__bottom-shelf--container {
  position: relative;
  top: 80px;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.containerLayout--showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 277px;
}


/*Banner custom*/
.paginationDotsContainer--main-banners{
  bottom: -1.5rem;
}

.paginationDot--main-banners{
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--white);
  border: 2px solid var(--main-color);
}

.paginationDot--main-banners--isActive{
  width: 1.25rem !important;
  border-radius: 5px;
  background-color: var(--main-color);
  border: none;
}
