.slideChildrenContainer--slider-brands{
  height:77px;
  padding: 2rem 1rem;
}

.slideChildrenContainer--slider-brands{
  width:100px !important;
  height:80px;
}

.slideChildrenContainer--slider-slogan{
  width:auto !important;
  height:80px;
}