.heading--static-page__title{
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: left;
}

.heading--item-mb{
  font-size: 1.1rem;
}

.link--item-mb{
  color: var(--main-color);
}
.link--item-mb:hover{
  color: var(--black);
  text-decoration: underline;
}

@media (min-width: 1025px) {
  .heading--static-page__title{
    font-size: 3rem;
    text-align: center;
  }
}


.paragraph--item-mb{
  margin-bottom: 1.3rem;
}
.paragraph--who__middle-text{
  color: var(--white);
}

.heading--title-mb{
  margin-bottom: 1rem;
}

.listItem--list{
  list-style: disc;
  margin-left: 1.5rem;
}
.container--static-page__header-text{
  margin-bottom: 2rem;
}

.heading--static-page__header-text{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.heading--who-title{
  margin-bottom: 3rem;
  padding-inline: 1rem;
}

/*contact*/
.container--contact__button{
  background: var(--black);
  width: 200px;
  border-radius: 24px;
  padding: .5rem .2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.container--contact__button:hover{
  background: var(--main-color);
}

.link--contact__button{
  color: var(--white);
}

.heading--contact__title{
  font-size: 1.9375rem;
  margin-bottom: 1rem;
}
.paragraph--contact__paragraph{
  font-size: 0.875rem;
  color: #505050;
  margin-bottom: 2rem;
}

@media (min-width: 1025px){
  .container--who-text{
    width: 70%;
  }
  .heading--who-title{
    padding-inline: 4rem;
  }
}