:global(.vtex-checkbox__container) :global(.bg-action-primary){
  background-color: var(--main-color);
  border: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}