:root{
  --main-color: #FFA9BE;
  --hard-pink:#E88B97;
  --white: #FFFFFF;
  --black: #000000;
  --grey:#A3A3A3;
  --soft-grey:#DEDEDE;
  --light-grey:#F4F4F4;
  --super-light-grey:#F7F7F7;
  --font-poppins-regular: "Poppins-regular", ;
  --font-poppins-semibold: "Poppins-semibold";
  --font-poppins-bold: "Poppins-bold";
}