:global(.vtex-checkbox__container) :global(.bg-action-primary){
  background-color: var(--main-color);
  border: none;
}

:global(.vtex-store__template){
  height:100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000000;
}

/*Flags*/

:global(.vtex-product-highlights-2-x-productHighlightText[data-highlight-name="Nuevo"]){
  color: white;
  padding: .1rem 7px;
  background: #ffa9be;
  position: absolute;
  border-radius: 24px;
  right: 10px;
}