.paragraph,
.heading{
  margin: 0;
}

.headingLevel1--search-page__header--title{
  font-size: 1.5rem;
  font-family: var(--font-poppins-semibold);
  margin-bottom: .2rem;
}

.paragraph--search-page__header--content{
  font-size: 0.85rem;
}