@import url("./global-variables.css");

:global(.vtex-button__label){
  padding: 0 !important;
}

:global(.vtex-button){
  border: none;
  min-height: 0;
  width: fit-content;
}

:global(.vtex-product-summary-2-x-nameContainer){
  padding: 0 !important;
}

:global(.vtex-product-context-provider) :global(.vtex-store-footer-2-x-footerLayout){
  padding-bottom: 9rem;
}