@import url("./global-variables.css");

:global(.vtex-button__label){
  padding: 0 !important;
}

:global(.vtex-button){
  border: none;
  min-height: 0;
  width: fit-content;
}

:global(.vtex-product-summary-2-x-nameContainer){
  padding: 0 !important;
}

/*Toast*/
:global(.vtex-toast) {
  margin: 0.5rem;
  display: flex;
  background-color: var(--black);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1026px) {
  :global(.vtex-toast) {
    margin: 0;
  }
}
:global(.vtex-toast) :global(.vtex-button) {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all 0.2s;
  min-height: 2em;
  margin: 0.5em 0;
}