.logoImage--footer-logo{
  position: relative;
  left: -10px;
  margin-bottom: .3rem;
}
.imageElementLink--soicla-icon{
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: .7rem;
}

.imageElementLink--soicla-icon:hover{
  background: var(--main-color);
}
.imageElement--payment-icon{
  width:35px;
}
@media (min-width: 1025px){
  .imageElement--iyc-logo{
    margin-top: 1.5rem;
    margin-left: 1.1rem;
  }
}