.closeIcon{
  background-color: var(--main-color);
  border-radius: 50%;
  padding:.3rem

}

.headerContainer--quickview{
  border:none
}

.paper--quickview{
  margin-inline: .5rem;
  height: 100vh;
  padding-bottom: 15rem;
}

.paper--quickview{
  margin-inline: .5rem;
  height: 100vh;
  padding-bottom: 6rem;
}