.listPriceValue{
  color: var(--main-color);
  font-size: 0.875rem;
}

@media all and (min-width:1025px){
  .listPriceValue{
    font-size: 1rem;
  }
}

.savings{
  position: absolute;
  font-weight: 600;
  padding: .5px;
  border-radius: 50%;
  border-radius: 50%;
  width: 32px;
  height: 30px;
  background-color: var(--discount-pink);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-poppins-bold);
  font-size: 0.75rem;
  left: 9px;
  top: 9px;
  z-index: 2;
}

@media all and (min-width: 1025px){
  .savings{
    width:42px;
    height:37px;
    font-size: 0.875rem;
  }
}