.containerLayout--header__desktop-top{
  margin: 1rem 0rem .5rem 0rem;
  padding-inline: 1.5rem;
}

.containerLayout--top-bar{
  background-color: var(--main-color);
  padding:.4rem .3rem;
  height: 40px;
}

.containerSection--danger-top{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}