.label{
  display: none;
}

.container{
  float: none;
}

.container :global(.vtex-button){
  padding: 0;
  margin-inline: 0;
}

.container :global(.vtex-button):hover{
  background:transparent;
}

.buttonLink :global(.vtex-button){
  margin: 0;
  padding: 0;
  margin-left: .7rem;
}

.profileIcon{
  width: 22px;
  height: 22px;
}