.cartIcon{
  width:30px;
  height:28px;
}

.minicartQuantityBadge{
  background-color: var(--discount-pink);
  width:22px;
  height:22px;
  font-size: .9rem;
  top: -0.5rem;
  right: -0.7rem;
}

.openIconContainer{
  margin-left: 0.3rem;
}
.openIconContainer :global(.vtex-button){
  background: transparent;
}