.biggy-autocomplete::-webkit-scrollbar{
  width: 5px;
}


.biggy-autocomplete::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}

.tileListSeeMore{
  color: var(--main-color);
  font-size: 1rem;
  font-family: var(--font-poppins-bold);
}
.tileListSeeMore:hover{
  color: var(--black);
  text-decoration: underline;
}

.itemListTitle,
.tileListTitle{
 color: var(--main-color);
}

.itemListLink{
  font-family: var(--font-poppins-regular);
  text-transform: capitalize;
}

.tileList::-webkit-scrollbar{
  width: 5px;
}
.tileList::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
.tileList{
  overflow:auto;
}

.tileListList{
  gap: 1rem;
  padding:0 1rem !important;
}