.styledLinkContent--footer__menu-item-mobile--trigger,
.styledLinkContent--footer__menu-item-mobile{
  color: var(--white);
  font-size: 1rem;
  margin-block: .2rem;
}
.styledLinkContainer--footer__menu-item-mobile{
  margin: .3rem 0;
}
.styledLinkContainer--footer__menu-item-mobile--trigger{
  margin: .5rem .7rem;
}

.styledLinkContent--footer__menu-item-mobile--trigger{
  font-family: var(--font-poppins-semibold);
}

.menuItem--footer__menu-item-mobile--trigger{
  border-bottom: 2px solid var(--grey);
  padding-bottom: .1rem;
  margin: 0px;
}

.menuContainerNav--footer-mobile__menu{
  margin: 2rem 0 0.7rem 0;
}

.accordionIcon--footer__menu-item-mobile--trigger--isClosed,
.accordionIcon--footer__menu-item-mobile--trigger--isOpen{
  font-size: 0px;
  width:16px;
  height:16px;
}

.accordionIcon--footer__menu-item-mobile--trigger--isClosed{
  background:url(assets/images/down-arrow-white.svg) no-repeat center;
}
.accordionIcon--footer__menu-item-mobile--trigger--isOpen{
  background:url(assets/images/up-arrow-white.svg) no-repeat center;
}

.menuContainer--footer-mobile__menu{
  margin-bottom: 2rem;
}