.confirmationCheckboxContainer :global(.vtex-checkbox__label),
.labelLink--first{
  color: var(--white);
  font-size: 0.875rem;
}

.labelLink--first{
  text-decoration: underline;
}
.labelLink--first:hover{
  color: var(--main-color);
}
.confirmationCheckboxContainer{
  margin-top: 1rem;
}

.formSubmitContainer{
  margin-block: .7rem;
}

.emailInputContainer :global(.vtex-styleguide-9-x-input),
.formSubmitContainer :global(.vtex-button){
  padding: 14px 20px;
  border-radius: 24px;
  border: 1px solid var(--white);
}
.emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder{
  font-size: 0.875rem;
  color: var(--grey);
  text-align: center;
}

@media (min-width: 1025px){
  .emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder{
    text-align: start;
  }
}
.emailInputContainer :global(.vtex-input-prefix__group){
 height: 100%;
 border: none;
}

.emailInputContainer,
.formSubmitContainer :global(.vtex-button){
  height: 48px;
}

.emailInputContainer :global(.vtex-input__error){
 color: var(--main-color);
 margin-top: 6rem;
}

.formSubmitContainer :global(.vtex-button):hover,
.formSubmitContainer :global(.vtex-button):focus{
  background-color: var(--main-color);
}

.formSubmitContainer :global(.vtex-button):hover :global(.vtex-button__label),
.formSubmitContainer :global(.vtex-button):focus :global(.vtex-button__label){
  color: var(--black);
}

.formSubmitContainer :global(.vtex-button){
  display: block;
  width: 100%;
  font-family: var(--font-poppins-semibold);
}

.defaultSuccessMessage{
  color: var(--main-color);
  text-align: center;
  font-size: 1.7rem;
}


@media all and (min-width: 1025px){
  .newsletterForm{
    position: relative;
  }
  .formSubmitContainer{
    position: absolute;
    top: -11px;
    right: 0;
  }
  .formSubmitContainer :global(.vtex-button){
    padding: 14px 2rem;
  }
  .emailInputContainer :global(.vtex-styleguide-9-x-input){
    background-color: var(--black);
    color: var(--white)
  }
  .emailInputContainer :global(.vtex-input__error){
    margin-top: 2.8rem;
   }
   .confirmationCheckboxContainer :global(.vtex-checkbox__label),
   .emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder{
    font-size: 1rem;
  }
}