.containerLayout--search-page__search-content--container{
  overflow: hidden;
}

.containerLayout--search-page__filter-order--container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  border-block: 1px solid var(--hard-pink);
  align-items: center;
}

/*Header search page*/
.containerLayout--search-page__header--container{
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.cardLayout__content--search-page__bullets{
  border-radius: 24px;
  border: 1px solid var(--black);
  padding: .3rem 2rem;
}
.cardLayout__content--search-page__bullets:hover,
.cardLayout__content--search-page__bullets:focus{
 background-color: var(--main-color);
 outline: none;
}
.highlightContent--search-page__bullets{
  display: flex;
  gap: 1rem;
  margin: 2.5rem 0rem 2rem 0rem;
  overflow-x: auto;
  padding: 0rem .5rem 1rem .5rem;
}

@media (min-width:1024px){
  .highlightContent--search-page__bullets{
    padding: 0rem .5rem 1rem 0rem;
  }
}
.paragraph--search-page__bullets{
  font-size: 0.875rem;
  font-family: var(--font-poppins-semibold);
}

/*Product summary SKUselector*/
.containerLayout--product-summary__sku-selector--container :global(.vtex-store-components-3-x-skuSelectorContainer){
  padding: 0;
  margin: 0;
  border: none;
}
.containerLayout--product-summary__sku-selector--container :global(.vtex-store-components-3-x-skuSelectorOptionsList){
  position: relative;
  top: -16px;
  gap: .5rem .4rem;
  padding-inline: .1rem;
}

.containerLayout--product-summary__sku-selector--container :global(.vtex-product-summary-2-x-skuSelectorInternalBox){
  width:20px;
  height:20px;
  border: 1px solid var(--soft-grey);
}

.containerLayout--product-summary__sku-selector--container :global(.vtex-product-summary-2-x-skuSelectorItem){
  margin: 0;
}

.containerLayout--product-summary__sku-selector--container :global(.vtex-store-components-3-x-skuSelectorTextContainer){
  text-align: left;
  height: 10px;
}
.highlightContent--search-page__header--brands-images{
  display: flex;
  overflow-x: auto;
  gap: 3rem;
  margin: 2.5rem 0 1rem 0;
}
.highlightContent--search-page__header--brands-images::-webkit-scrollbar{
 display: none;
}

@media(max-width: 1025px){
  .cardLayout--search-page__header--brands-images{
    min-width: 150px;
  }
}

.containerLayout--product-summary__sku-selector--container :global(.vtex-store-components-3-x-skuSelectorName){
  margin: 0;
  font-size: 0;
  padding-inline: .7rem;
  font-family: var(--font-poppins-semibold);
}

.containerLayout--product-summary__sku-selector--container :global(.vtex-product-summary-2-x-frameAround){
  bottom: 1px;
  top: 1px;
  left: -2px;
  right: 3px;
}
.highlight__link--search-page__bullets{
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.highlight__link--search-page__bullets:hover{
  background-color: var(--discount-pink);
  border: 1px solid var(--black);
}


@media (min-width: 1025px){
  .containerLayout--search-page__search-content-filter--container{
    padding-inline: 1.5rem;
  }
  .containerLayout--search-page__content-show-more--container{
    margin-bottom: 3rem;
    width: 100%;
  }
  .containerLayout--product-summary__sku-selector--container :global(.vtex-store-components-3-x-skuSelectorOptionsList){
    gap: .5rem 1rem;
    padding-inline: .7rem;
  }
}



.containerLayout--content-search-all{
  display: grid;
  padding: 2rem;
  max-width:1440px;
  margin: 0 auto;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
   ". order"
   "filter result";
}

.containerLayout--search-page__orderby--container{
  grid-area: order;
}

.containerLayout--filter-container{
  grid-area: filter;
}

.containerLayout--search-page__content-show-more--container{
  grid-area: result;
  overflow:hidden;
}

@media(max-width: 1025px){
  .containerLayout--content-search-all{
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
     "filter order"
     "result result";
  }
  .containerLayout--filter-container,
  .containerLayout--search-page__orderby--container{
    border-block: 1px solid var(--hard-pink);
  }
}