.searchResultContainer{
  padding: 0;
}
.filter__container--c,
.filter__container--specificationFilter_129,
.filter__container--specificationFilter_25,
.filter__container--specificationFilter_23,
.filter__container--specificationFilter_42,
.filter__container--specificationFilter_47,
.filter__container--specificationFilter_109,
.filter__container--specificationFilter_110,
.filter__container--specificationFilter_65,
.filterAccordionItemBox--descripcion,
.filter__container--category-1,
.filter__container--category-2,
.filter__container--category-3,
.filter__container--category-4,
.filterAccordionItemBox--categoria,
.filterAccordionItemBox--category-4,
.filterAccordionItemBox--sub-categoria{
  display: none;
}

/* .container--layout :global(.vtex-breadcrumb-1-x-arrow--1){
  display: inline-block;
} */

.gallery{
  justify-content: center;
  padding-inline: .5rem;
  gap:1rem 0.8rem;
  margin-block: 1rem;
  align-content: flex-start;
  width: auto;
}

.galleryItem{
  height:320px;
  width:165px;
  flex-basis: 0 !important;
  padding: 0;
  border: 2px solid var(--light-grey);
  border-radius: 18px;
}

.buttonShowMore :global(.vtex-button){
  background: var(--white);
  border-radius: 24px;
  border: 1px solid var(--black);
  margin: 2rem auto 3rem auto;
  padding: 1rem 3rem;
}
.buttonShowMore :global(.vtex-button__label){
  font-size: 0;
}
.buttonShowMore :global(.vtex-button):hover{
  background: var(--main-color);
}

.buttonShowMore :global(.vtex-button__label)::after{
  content: 'Ver más resultados';
  font-size: 1rem;
  color: var(--black);
  font-family: var(--font-poppins-semibold);
}

.orderByText,
.filterPopupTitle{
  color: var(--black);
  font-size: 1rem;
}

.orderByButton{
  padding: 0.8rem;
  border-left: 1px solid var(--main-color);
  justify-content: center;
  display: flex;
}

/*Filter modal mobile*/

.filterClearButtonWrapper,
.filterApplyButtonWrapper{
  text-align: center;
}


.filterClearButtonWrapper :global(.vtex-button),
.filterApplyButtonWrapper :global(.vtex-button){
  padding: .9rem 2.3rem;
  border: 1px solid var(--black);
  border-radius: 24px;
}
.filterClearButtonWrapper :global(.vtex-button){
  color: var(--black);
}

.filterApplyButtonWrapper :global(.vtex-button){
  color: var(--white);
  background-color: var(--black);
}

.accordionFilterContainer{
  padding: 0;
  padding-left: 1rem;
}

.accordionFilterItemTitle,
.filterBreadcrumbsItemName{
  font-size: 1rem;
}

.filterBreadcrumbsText{
  color: var(--black);
}

.orderByOptionsContainer{
  left: -12px;
}

.orderByOptionItem--selected {
  background-color: var(--main-color);
}

.accordionFilterContainer,
.filterAccordionBreadcrumbs{
  border-bottom: 1px solid var(--main-color);
}

.filterAccordionItemBox{
  border: none;
}

.filterAccordionItemBox :global(.vtex-checkbox__inner-container){
  border-radius: 4px;
  border: 1px solid #707070;
}

.filterAccordionItemBox :global(.vtex-checkbox__label){
  margin-left: 1rem;
}

.filterButtonsBox{
  border-color: var(--main-color);
}

.filterTemplateOverflow :global(.vtex-slider__base-internal),
.filterTemplateOverflow :global(.vtex-slider__selector){
  background-color: var(--hard-pink);
}

.filterTemplateOverflow :global(.vtex-slider__right-value),
.filterTemplateOverflow :global(.vtex-slider__left-value){
  font-family: var(--font-poppins-semibold);
  color: var(--black);
}

.accordionFilterOpen--gama-colores{
  display: flex;
  flex-wrap: wrap;
}

.accordionFilterOpen--gama-colores :global(.vtex-checkbox__label){
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 0;
  border: 1px solid var(--soft-grey);
}



.filter__container--gama-colores :global(.vtex-search-result-3-x-filterTitleSpan),
.filterAccordionItemBox--gama-colores :global(.vtex-search-result-3-x-accordionFilterItemTitle){ 
font-size: 0;
}

.filter__container--gama-colores :global(.vtex-search-result-3-x-filterTitleSpan)::before,
.filterAccordionItemBox--gama-colores :global(.vtex-search-result-3-x-accordionFilterItemTitle)::before{
  content:"Gama de Colores";
  font-size: 1rem;
  }

@media (min-width: 1025px){
  .filters--layout{
    width:300px;
    min-width: 300px;
    margin-bottom: 3rem;
  }
  .galleryItem{
    width:100%;
    height:325px;
    max-width:300px !important;
  }
  .gallery{
    display:grid;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
    width: 100%;
    margin-inline: 0 !important; 
  }
  .orderByDropdown{
    display: flex;
  }
  .orderByButton{
    width: 230px;
    border-radius: 24px;
    border: 1px solid var(--black);
    padding: .9rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  .filterPopupArrowIcon{
    padding: 0;
  }
  .galleryItem :global(.vtex-button){
   width: 90%;
  }
  .orderByOptionsContainer{
    width: 260px;
    left: initial;
  }
  .filter__container{
    border-color: var(--main-color);
  }
  .filterItem{
    margin-bottom: 1rem;
  }
  .filterItem :global(.vtex-checkbox__label){
    margin-left: 1rem;
  }
  .filterItem :global(.vtex-checkbox__inner-container){
    border-radius: 4px;
    border: 1px solid #707070;
  }

  .filterTemplateOverflow{
    padding: 0;

  }

  .filterTemplateOverflow::-webkit-scrollbar{
    width: 3px;
  }

  .filterTemplateOverflow::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
  }
  .filterMessage{
    color: var(--hardest-grey);
    margin: 0;
  }
  .filterTitle,
  .categoryItemName,
  .selectedCategoryName{
    font-family: var(--font-poppins-semibold);
  }
  .categoryItemName:hover{
    color: var(--main-color);
  }
  .caretIcon,
  .categoryItemChildren,
  .filterTitle{
    color: var(--black);
  }

  .selectedCategoryIcon{
    color: var(--main-color);
  }
  .caretIcon,
  .selectedCategoryIcon{
    width: 10px;
    height: 10px
  }
  .galleryItem :global(.vtex-product-summary-2-x-imageNormal){
    height: 125px;
   }
   .filter__container--gama-colores :global(.vtex-checkbox__label){
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--soft-grey);
    font-size:0;
    margin: 0 ;
    margin-right: 1rem ;
   }

   .filterTemplateOverflow :global(.vtex-slider-container){
    margin-bottom: 1rem;
   }

   .filter__container--gama-colores :global(.vtex-search-result-3-x-filterContent){
    display: flex;
    flex-wrap: wrap;
   }
   .filter__container--gama-colores :global(.vtex-search-result-3-x-filterItem){
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    width: auto;
   }
   .filter__container--gama-colores :global(.vtex-search-result-3-x-filterItem) :global(.vtex-checkbox__container){
   display: none;
   }
 
}