@import url(./product.css);

.containerLayout--detail-product__info--container{
  padding: 1rem;
}

.containerLayout--detail-product__prices--container{
  display: flex;
  gap: 1rem;
}

.containerLayout--detail-product__quantity-buy--container{
  position: fixed;
  bottom: 75px;
  z-index: 3;
  width: 100%;
  left: 0rem;
  height:75px;
  background-color:var(--white);
  border-top: 1px solid var(--main-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*Add to cart button*/
.containerLayout--detail-product__quantity-buy--container :global(.vtex-button){
  height: 48px;
  border-radius: 34px;
  padding-inline: 1.4rem;
  font-family: var(--font-poppins-semibold);
}

.containerLayout--detail-product__quantity-buy--container :global(.vtex-button):hover,
.containerLayout--detail-product__quantity-buy--container :global(.vtex-button):focus{
  background-color:var(--main-color);
  transition:all .3s ease-in-out;
}

.containerLayout--detail-product__quantity-buy--container :global(.vtex-button):hover  :global(.vtex-button__label){
  color: var(--black);
  transition:all .3s ease-in-out;
}

@media all and (min-width: 1035px){
  .containerLayout--detail-product__quantity-buy--container :global(.vtex-button){
    width: 100%;
  }
}

/*Tabs section*/
.containerLayout--product-page__tabs--container{
  padding: 1rem;
}

.containerLayout--product-page__tab--container{
  border-bottom: 1px solid var(--main-color);
  padding-inline: 1rem;
}

.containerLayout--product-page__tabs--container-desktop{
  margin-block: 4rem;
  padding-inline: 3rem;
}

.containerLayout--how-to-use__template--container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap:4rem 1rem;
  margin-block: 3rem;
}

@media (max-width:1034px){
  .containerLayout--how-to-use__template--container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

/*Desktop*/

@media all and (min-width: 1035px){

  .containerLayout--product-page__product-detail--container{
    display: flex;
    gap: 1rem;
  }
  .containerLayout--detail-product__images--container{
    width:60%;
  }
  .containerLayout--detail-product__quantity-buy--container{
    position: static;
    border: none;
    padding: 0;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top:1rem;
  }
}
.spec__content{
  line-height:1.5rem;
}

/****Revies and ratigns**/
:global(.vtex-reviews-and-ratings-3-x-container) {
  margin: 0;
  padding: 0;
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) {
  background: var(--white);
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-card){
  box-shadow: none;
  border: 1px solid var(--hard-pink);
  border-radius: 8px;
  max-width:674px;
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-input-prefix__group),
:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-textarea__input){
  border-radius: 31px;
  border: 1px solid var(--border-input-gray);
  padding: 0.5rem !important;
}
:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-textarea__input){
  resize:vertical !important;
  padding: 1.5em !important;
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-input-prefix__group){
  height: 41px;
}

:global(.vtex-reviews-and-ratings-3-x-star--filled) {
  color: var(--main-color);
}

:global(.vtex-reviews-and-ratings-3-x-star--empty) {
  color: var(--hard-pink);
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-button){
  border-radius: 34px;
  width: 100%;
  padding:1rem;
}
:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-button):focus,
:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-button):hover{
  background-color: var(--main-color);
  transition:all .3s ease-in-out;
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-button):hover  :global(.vtex-button__label){
  color: var(--black);
  transition:all .3s ease-in-out;
}

:global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) :global(.vtex__icon-caret-down),
:global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) :global(.vtex__icon-caret-up),
:global(.vtex-reviews-and-ratings-3-x-writeReviewButton),
:global(.vtex-reviews-and-ratings-3-x-writeReviewButton):hover{
  color: var(--main-color);
}

:global(.vtex-reviews-and-ratings-3-x-loginLink):hover{
  color: var(--main-color);
}

:global(.vtex-reviews-and-ratings-3-x-graphContent),
:global(.vtex-reviews-and-ratings-3-x-reviewsRating),
:global(.vtex-reviews-and-ratings-3-x-reviewsHeading){
  display: none;
}

:global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) :global(.vtex-styleguide-9-x-container){
  border-radius: 34px;
  border: 1px solid var(--black);
  width: 300px;
}

:global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) :global(.vtex-dropdown__button){
  font-family: var(--font-poppins-semibold);
}

:global(.vtex-reviews-and-ratings-3-x-reviewDateSubmitted),
:global(.vtex-reviews-and-ratings-3-x-reviewDateValue),
:global(.vtex-reviews-and-ratings-3-x-reviewAuthor),
:global(.vtex-reviews-and-ratings-3-x-reviewAuthorName){
  color: #939393;
  font-weight: normal !important;
  font-size: 1rem;
}

:global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy){
  display: none;
}

:global(.vtex-reviews-and-ratings-3-x-summaryContainer){
  display: flex;
  align-items: center;
  gap: .5rem;
}

:global(.vtex-reviews-and-ratings-3-x-summaryButtonContainer) :global(.vtex-button){
  background: transparent;
  color: var(--main-color);
}

:global(.vtex-reviews-and-ratings-3-x-summaryButtonContainer) :global(.vtex-button__label){
  text-decoration: underline;
}

:global(.vtex-reviews-and-ratings-3-x-summaryButtonContainer) :global(.vtex-button__label):hover{
  color: var(--black);
}

.PUM{
  margin-top: .5rem;
}

/*SKU selector*/
.containerLayout--detail-product__info--container :global(.vtex-store-components-3-x-skuSelectorSubcontainer--tonos) :global(.vtex-store-components-3-x-skuSelectorName){
  font-size: 0;
  font-family: var(--font-poppins-bold);
  color: black
}

.containerLayout--detail-product__info--container :global(.vtex-store-components-3-x-skuSelectorName){
  font-size: 1.3rem;
  font-family: var(--font-poppins-bold);
  color: black
}

.containerLayout--detail-product__info--container :global(.vtex-store-components-3-x-skuSelectorSubcontainer--tonos) :global(.vtex-store-components-3-x-skuSelectorName)::after{
  content: "Color";
  font-size: 1.5rem;
}