.sellingPrice--product-detail__selling-price--hasListPrice,
.sellingPriceValue--product-detail__selling-price{
  font-family: var(--font-poppins-bold);
}
.currencyContainer--product-detail__list-price,
.sellingPrice--product-detail__selling-price--hasListPrice,
.sellingPriceValue--product-detail__selling-price{
  font-size: 1.4rem;
}

@media all and (min-width: 1025px){
  .currencyContainer--product-detail__list-price,
  .sellingPrice--product-detail__selling-price--hasListPrice{
  font-size: 1.6rem;
}
}