.productImage{
  margin-bottom: 2rem;
}
.productNameContainer :global(.vtex-store-components-3-x-productBrand):first-child{
  display: none ;
}

.swiperBullet{
  width: .6rem;
  background-color: var(--white);
  border: 2px solid var(--hard-pink);
  height: .6rem;
}

.swiperBullet--active{
  width: 1.25rem !important;
  border-radius: 5px;
  background-color: var(--main-color);
  border: none;
  height: .6rem;
}

.swiperCaret {
  border: 1px solid var(--soft-grey) !important; 
  border-radius: 50% !important;
  padding : .4rem !important;
  margin-inline: .7rem !important;
  color: var(--black) !important;
  width: 38px !important;
  height: 38px !important;
  display: flex !important;
  justify-content: center !important;
}

.swiperCaret:hover{
  border: 1px solid var(--black) !important;
}

.swiperCaret :global(.vtex-store-components-3-x-caretIcon){
  width: 35px !important;
  height: 22px !important;
}

.swiperCaretNext :global(.vtex-store-components-3-x-caretIcon){
  position: relative !important;
  left: 2px !important;
}

.swiperCaretPrev  :global(.vtex-store-components-3-x-caretIcon){
  position: relative !important;
  left: -2px !important;
}

.carouselCursorDefault{
  background-color: var(--super-light-grey);
  border: 1px solid var(--super-light-grey);
}

.carouselCursorDefault:hover{
  border: 1px solid var(--super-light-grey);
}

.carouselGaleryThumbs{
  display: flex !important;
  margin-inline: 1rem;
  margin-top: 1.5rem;
}

.productImagesThumb{
  height:60px !important;
  width:60px !important;
  margin-right: 1.5rem;
}
.thumbImg,
.productImagesThumb{
  border-radius: 8px !important;
}

.productImagesThumbActive{
  border: 1px solid var(--main-color);
}

/*Product details*/
.productBrandName{
  color: var(--main-color);
  font-size: 0.875rem;
  font-family: var(--font-poppins-semibold);
}

.productBrand {
  font-size: 1.5rem;
}

/*Product description*/
.productDescriptionTitle{
  display: none;
}
.content--product-page__description--content{
  color: var(--black);
  line-height:1.5rem;
}
.container--product-page__description--content{
  height: auto !important;
}
.fadeBottom, .showMoreButton{
  display: none ;
}

.swiperPaginationClickable{
  bottom: -4px !important;
}

.skuSelectorSubcontainer{
  margin-bottom: .5rem;
}

.frameAround{
  border-color: var(--black);
  border-radius:50%;
  bottom: -0.13rem;
  top: -0.12rem;
  left: -0.10rem;
  right: -0.15rem;
}
/*Desktop*/
@media all and (min-width: 1025px){
  .productBrandName{
    font-size: 1.1rem;
  }
  .productBrand {
    font-size: 1.8rem;
  }
  .skuSelectorContainer{
    border-top: 1px solid var(--soft-grey);
    padding-block: 1rem;
    margin-bottom: .5rem;
  }
}

.productImagesGallerySwiperContainer, .productImage,
.productImageTag{
  max-height: 450px !important;
}

.productImageTag{
  position: relative;
  top: -15px;
}
