.slide {
  width: 7.69231%;
  border: 2px solid var(--light-grey);
  border-radius: 18px;
  height: auto;
}

.relatedProducts :global(.vtex-slider-0-x-dotsContainer){
  display: none;
}

.relatedProducts {
  padding-bottom: 2.5rem;
  padding-inline: 1rem;
}

.title{
  justify-content:flex-start;
  color: var(--black);
  font-size: 1.125rem;
}
@media (min-width: 1025px){
  .title{
    font-size: 2.25rem;
  }
}

.arrow{
  position: absolute !important;
  z-index: 2 !important;
  background: var(--white)!important;
  border: 1px solid var(--soft-grey) !important;
  border-radius: 50% !important;
}

.arrow:hover{
  border: 1px solid var(--black) !important;
}

.caretIcon{
  width: 35px !important;
  height: 35px !important;
  padding: .5rem !important;
}