.quantitySelectorContainer{
  margin: 0;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
  border: 1px solid var(--black);
  height: 48px;
  font-weight: 300 !important;
  font-size: 1.7rem;
  font-family: var(--font-poppins-regular);
  width:auto !important;
  max-width:2.5rem;
  padding: 0.5rem;
  color: var(--black);
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button){
  border-radius: 0px 24px 24px 0px;
  border-left: none;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button){
  border-radius: 24px 0px 0px 24px;
  border-right: none;
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
 border-right:none;
 border-left: none;
 width: 2rem;
 font-size:1.1875rem ;
}