.styledLink{
  color: var(--white);
}


.styledLinkContent--footer-item-desktop{
  font-size: 1rem;
  margin-bottom: .8rem;
}

.styledLinkContent--footer-item-desktop:hover{
  color: var(--main-color);
}

.menuItem--footer-item-desktop,
.styledLinkContent--footer-title{
  margin: 0;
}

.styledLinkContent--footer-title{
  font-family: var(--font-poppins-bold);
  font-size: 1.125rem;
  cursor: default;
}

.menuItem--footer-item-desktop:last-child .styledLinkContent--footer-item-desktop{
  margin-bottom: 2rem;
}


