@font-face {
  font-family: "Poppins-regular";
  src: local("Poppins Regular"),
    url("assets/fonts/Poppins-Regular.eot") format("embedded-opentype"),
    url("assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("assets/fonts/Poppins-Regular.woff") format("woff"),
    url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-semibold";
  src: local("Poppins SemiBold"),
    url("assets/fonts/Poppins-SemiBold.eot") format("embedded-opentype"),
    url("assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Poppins-SemiBold.woff") format("woff"),
    url("assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins Bold"),
    url("assets/fonts/Poppins-Bold.eot") format("embedded-opentype"),
    url("assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("assets/fonts/Poppins-Bold.woff") format("woff"),
    url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}