@import url(./template-styles.css);

.containerLayout--collection-template--container :global(.vtex-search-result-3-x-gallery){
  max-width: 1118px;
  margin: .7rem auto;
}

.containerLayout--text-columns--container{
  display: flex;
  gap: 1rem;
  margin-block: 3rem;
}

.containerLayout--center-com{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.containerLayout--center-com-marcas{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}

.containerLayout--plp-marcas{
  max-width: 1050px;
  margin: 0 auto;
}

.highlightContent--filter-colors--bullets{
  display: flex;
  gap: 1.5rem;
  overflow: auto;
  scrollbar-width: none;
}

.highlightContent--filter-colors--bullets::-webkit-scrollbar{
  display:none
}

.cardLayout--filter-colors--bullets{
  border-radius: 50%;
  border: none;
  width : 50px;
  min-width: 50px;
  height: 50px;
}

.cardLayout__content--filter-colors--bullets{
  width: 100%;
  height: 100%;
  opacity: 0;
}

.containerLayout--buttons-container-custom{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.containerLayout--wrapper-static-page-template{
  max-width: 1420px;
  margin: 2rem auto!important;
  padding-inline: 0rem;
}

.containerLayout--wrapper-static-page-nm{
  max-width: 1420px;
  margin: 0rem auto;
  padding-inline: 0rem;
}

.containerLayout--banner-video--container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width:1420px;
  margin: 0 auto;
}

@media (max-width: 1025px){
  .containerLayout--banner-video--container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .containerLayout--template__video--container{
    height:300px;
  }
}