.container--shelf__link{
  margin-top: 1.5rem;
}

.link--shelf__link{
  color: var(--black);
  font-weight: bold;
  font-size: 0.875;
  text-decoration: underline;
}

.heading--shelf__title{
  font-size: 1.125rem;
  font-family: var(--font-poppins-bold);
}
@media all and (min-width: 1025px){
  .heading--shelf__title{
    font-size: 2.25rem;
  }
}